body {
    background-color: #F5EEF8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    /* font-family: serif; */
    margin-left: auto;
    margin-right: auto;
    /* max-width: 75%; */
    text-align: center;
}

p {
    font-size: large;
    /* max-width: 75%; */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

aside {
    font-size: x-large;
    /* font-family: serif; */
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    max-width: 75%;
    text-align: center;
}

figcaption {
    font-size: small;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-top: 5px;
}

footer {
    font-size: small;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    background-color: #ffffff;
    border: 3px #051C2C solid;
}

.graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px #051C2C solid;
    max-width: 800px;
    max-height: 700px;
    overflow-x: scroll;
}