body {
background-color: #F5EEF8;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    border: 3px #051C2C solid;
    ;
}

.graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px #051C2C solid;
    width: 800px;
    height: 677px;
    overflow-x: scroll;

}