body {
    background-image: linear-gradient(#051C2C,#c3aeff, #AEC2FF);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    color: #051C2C;
}

main {
    background-color: white;
    max-width: 900px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    margin-top: 1em;
}

header {
    background-color: #051C2C;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}

.title {
    font-size: larger;
    font-weight: bolder;

}

footer {
    font-size: small;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

h1, h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: serif;
}

h2 {
    font-size: xx-large;
}

p {
    font-size: large;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

a:link {
    color: #AEC2FF;
}

a:visited {
    color: #c3aeff;
}

figcaption {
    font-size: small;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-top: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    background-color: #ffffff;
    border: 3px #051C2C solid;
}

img:hover {
    max-width: 100%;
    transition: 0.8s;
}

.graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px #051C2C solid;
    max-width: 800px;
    max-height: 700px;
    overflow-x: scroll;
}